<settings>
<setting name="AllowOnlyOneInstance">0</setting>
<setting name="CloseOnEscape">0</setting>
<setting name="DbgHelpSearchPath">SRV*C:\Symbols*https://msdl.microsoft.com/download/symbols</setting>
<setting name="DbgHelpUndecorate">1</setting>
<setting name="DisabledPlugins"></setting>
<setting name="ElevationLevel">1</setting>
<setting name="EnableAdvancedOptions">1</setting>
<setting name="EnableBreakOnTermination">0</setting>
<setting name="EnableBootObjectsEnumerate">0</setting>
<setting name="EnableCycleCpuUsage">1</setting>
<setting name="EnableImageCoherencySupport">0</setting>
<setting name="EnableInstantTooltips">0</setting>
<setting name="EnableHeapReflection">0</setting>
<setting name="EnableHeapMemoryTagging">0</setting>
<setting name="EnableKph">1</setting>
<setting name="EnableKphWarnings">1</setting>
<setting name="EnableLastProcessShutdown">0</setting>
<setting name="EnableLinuxSubsystemSupport">0</setting>
<setting name="EnableHandleSnapshot">1</setting>
<setting name="EnableNetworkBoundConnections">1</setting>
<setting name="EnableNetworkResolve">1</setting>
<setting name="EnableNetworkResolveDoH">0</setting>
<setting name="EnablePlugins">1</setting>
<setting name="EnableScaleCpuGraph">1</setting>
<setting name="EnableServiceNonPoll">0</setting>
<setting name="EnableStage2">1</setting>
<setting name="EnableServiceStage2">0</setting>
<setting name="EnableStartAsAdmin">1</setting>
<setting name="EnableSafeDefaultPlugins">1</setting>
<setting name="EnableSecurityAdvancedDialog">1</setting>
<setting name="EnableShortRelativeStartTime">1</setting>
<setting name="EnableShutdownCriticalMenu">0</setting>
<setting name="EnableSilentCrashNotify">0</setting>
<setting name="EnableThemeSupport">1</setting>
<setting name="EnableThreadStackInlineSymbols">1</setting>
<setting name="EnableThreadStackLineInformation">1</setting>
<setting name="EnableTooltipSupport">1</setting>
<setting name="EnableUpdateDefaultFirmwareBootEntry">1</setting>
<setting name="EnableVersionSupport">1</setting>
<setting name="EnableWarnings">1</setting>
<setting name="EnableWindowText">1</setting>
<setting name="EnvironmentTreeListColumns">@96|0,0,250|1,1,250</setting>
<setting name="EnvironmentTreeListSort">0,0</setting>
<setting name="EnvironmentTreeListFlags">0</setting>
<setting name="FindObjRegex">0</setting>
<setting name="FindObjTreeListColumns">@96|0,0,100|1,1,100|2,2,200|3,3,80</setting>
<setting name="FindObjWindowPosition">396,162</setting>
<setting name="FindObjWindowSize">@96|552,418</setting>
<setting name="FileBrowseExecutable">%SystemRoot%\explorer.exe /select,&quot;%s&quot;</setting>
<setting name="FirstRun">0</setting>
<setting name="Font"></setting>
<setting name="ForceNoParent">1</setting>
<setting name="KphBuildNumber">55f0</setting>
<setting name="KphServiceName"></setting>
<setting name="HandleTreeListColumns"></setting>
<setting name="HandleTreeListSort">0,1</setting>
<setting name="HandleTreeListFlags">3</setting>
<setting name="HandlePropertiesWindowPosition">0,0</setting>
<setting name="HandlePropertiesWindowSize">@96|260,260</setting>
<setting name="HandleStatisticsListViewColumns"></setting>
<setting name="HandleStatisticsListViewSort">0,1</setting>
<setting name="HandleStatisticsWindowSize">@96|0,0</setting>
<setting name="HiddenProcessesMenuEnabled">0</setting>
<setting name="HiddenProcessesListViewColumns"></setting>
<setting name="HiddenProcessesWindowPosition">400,400</setting>
<setting name="HiddenProcessesWindowSize">@96|520,400</setting>
<setting name="HideDefaultServices">0</setting>
<setting name="HideDriverServices">0</setting>
<setting name="HideFreeRegions">1</setting>
<setting name="HideOnClose">1</setting>
<setting name="HideOnMinimize">1</setting>
<setting name="HideOtherUserProcesses">0</setting>
<setting name="HideSignedProcesses">0</setting>
<setting name="HideWaitingConnections">0</setting>
<setting name="HighlightingDuration">3e8</setting>
<setting name="IconGuids">{4b5bd9f8-1617-419e-bfd7-cc791d76b33c}|{0dfb4dcd-58c9-494a-b7bb-26389effad39}|{cae69415-c77f-4c11-bfa8-2d618b59af19}|{9cef338f-c68d-435f-bb7b-29c650f7e6c3}|{230e52d0-fcac-41fb-be31-3c708e5fe3ce}|{c4eed473-ee6e-4f1b-9fb7-8194b6f6f291}|{dedbe991-02ba-488a-86f8-7842bbc6c67d}|{18fe0192-2940-48e6-9b80-9d4f1f15cd5c}|{86afd196-47b7-4c4f-b2c1-b9cd4323f68f}</setting>
<setting name="IconIgnoreBalloonClick">0</setting>
<setting name="IconSettings">1|1|</setting>
<setting name="IconNotifyMask">c</setting>
<setting name="IconProcesses">f</setting>
<setting name="IconSingleClick">0</setting>
<setting name="IconTogglesVisibility">1</setting>
<setting name="ImageCoherencyScanLevel">1</setting>
<setting name="JobListViewColumns"></setting>
<setting name="LogEntries">200</setting>
<setting name="LogListViewColumns"></setting>
<setting name="LogWindowPosition">0,0</setting>
<setting name="LogWindowSize">@96|450,500</setting>
<setting name="MainWindowAlwaysOnTop">0</setting>
<setting name="MainWindowClassName">MainWindowClassName</setting>
<setting name="MainWindowOpacity">0</setting>
<setting name="MainWindowPosition">36,69</setting>
<setting name="MainWindowSize">@96|1285,592</setting>
<setting name="MainWindowState">1</setting>
<setting name="MainWindowTabRestoreEnabled">0</setting>
<setting name="MainWindowTabRestoreIndex">0</setting>
<setting name="MaxSizeUnit">3</setting>
<setting name="MaxPrecisionUnit">2</setting>
<setting name="MemEditBytesPerRow">10</setting>
<setting name="MemEditGotoChoices"></setting>
<setting name="MemEditPosition">450,450</setting>
<setting name="MemEditSize">@96|600,500</setting>
<setting name="MemFilterChoices"></setting>
<setting name="MemResultsListViewColumns"></setting>
<setting name="MemResultsPosition">300,300</setting>
<setting name="MemResultsSize">@96|500,520</setting>
<setting name="MemoryListFlags">3</setting>
<setting name="MemoryTreeListColumns">@96|0,0,120|1,1,90|2,2,80|3,3,60|4,4,200|5,5,80|6,6,80|7,7,80|8,8,80|9,9,80</setting>
<setting name="MemoryTreeListSort">0,0</setting>
<setting name="MemoryListsWindowPosition">537,396</setting>
<setting name="MemoryReadWriteAddressChoices"></setting>
<setting name="MiniInfoWindowClassName">MiniInfoWindowClassName</setting>
<setting name="MiniInfoWindowEnabled">1</setting>
<setting name="MiniInfoWindowOpacity">0</setting>
<setting name="MiniInfoWindowPinned">0</setting>
<setting name="MiniInfoWindowPosition">726,537</setting>
<setting name="MiniInfoWindowRefreshAutomatically">1</setting>
<setting name="MiniInfoWindowSize">@96|315,201</setting>
<setting name="ModuleTreeListFlags">1</setting>
<setting name="ModuleTreeListColumns"></setting>
<setting name="ModuleTreeListSort">0,0</setting>
<setting name="NetworkTreeListColumns">@96|0,0,100|1,1,120|2,2,50|3,3,120|4,4,50|5,5,45|6,6,70|7,7,80</setting>
<setting name="NetworkTreeListSort">0,1</setting>
<setting name="NoPurgeProcessRecords">0</setting>
<setting name="OptionsCustomColorList"></setting>
<setting name="OptionsWindowAdvancedColumns">@96|0,0,200|1,1,100|2,2,200|3,3,200</setting>
<setting name="OptionsWindowAdvancedFlags">0</setting>
<setting name="OptionsWindowPosition">63,121</setting>
<setting name="OptionsWindowSize">@96|1241,467</setting>
<setting name="PageFileWindowPosition">0,0</setting>
<setting name="PageFileWindowSize">@96|500,300</setting>
<setting name="PageFileListViewColumns"></setting>
<setting name="PluginManagerTreeListColumns">@96|0,0,1041</setting>
<setting name="ProcessServiceListViewColumns"></setting>
<setting name="ProcessTreeColumnSetConfig"></setting>
<setting name="ProcessTreeListColumns">@96|0,0,203|1,1,50|2,2,45|3,3,70|4,4,93|5,5,140|10,6,811|12,37,70|23,36,45|28,24,70|32,34,132|33,41,90|34,26,90|35,40,90|42,38,120|43,39,60|46,8,100|47,33,100|48,18,100|51,7,100|54,22,70|55,25,70|56,19,70|57,21,70|58,23,70|59,20,70|71,35,110|74,17,110|79,42,70|+ProcessHacker.ExtendedTools+1,11,70|+ProcessHacker.ExtendedTools+2,16,70|+ProcessHacker.ExtendedTools+3,9,70|+ProcessHacker.ExtendedTools+4,14,70|+ProcessHacker.ExtendedTools+5,12,70|+ProcessHacker.ExtendedTools+11,29,70|+ProcessHacker.ExtendedTools+12,31,70|+ProcessHacker.ExtendedTools+13,27,70|+ProcessHacker.ExtendedTools+14,30,70|+ProcessHacker.ExtendedTools+15,32,70|+ProcessHacker.ExtendedTools+18,28,70|+ProcessHacker.ExtendedTools+27,10,70|+ProcessHacker.ExtendedTools+28,15,70|+ProcessHacker.ExtendedTools+29,13,70</setting>
<setting name="ProcessTreeListSort">2,2</setting>
<setting name="ProcessTreeListNameDefault">1</setting>
<setting name="ProcPropPage">General</setting>
<setting name="ProcPropPosition">222,137</setting>
<setting name="ProcPropSize">@96|1138,580</setting>
<setting name="ProcStatPropPageGroupListViewColumns"></setting>
<setting name="ProcStatPropPageGroupListViewSort">0,0</setting>
<setting name="ProcStatPropPageGroupStates">8|0|0|1|0|2|0|3|0|4|0|5|0|6|0|7|0</setting>
<setting name="ProgramInspectExecutables">peview.exe &quot;%s&quot;</setting>
<setting name="PropagateCpuUsage">1</setting>
<setting name="RunAsEnableAutoComplete">0</setting>
<setting name="RunAsProgram"></setting>
<setting name="RunAsUserName"></setting>
<setting name="RunAsWindowPosition">0,0</setting>
<setting name="RunFileDlgState">0</setting>
<setting name="SampleCount">2a8</setting>
<setting name="SampleCountAutomatic">1</setting>
<setting name="ScrollToNewProcesses">0</setting>
<setting name="SearchEngine">https://www.google.com/search?q=&quot;%s&quot;</setting>
<setting name="SegmentHeapListViewColumns"></setting>
<setting name="SegmentHeapListViewSort">0,1</setting>
<setting name="SegmentHeapWindowPosition">0,0</setting>
<setting name="SegmentHeapWindowSize">@96|450,500</setting>
<setting name="ServiceWindowPosition">-728,-365</setting>
<setting name="ServiceListViewColumns"></setting>
<setting name="ServiceTreeListColumns">@96|0,0,140|1,1,220|2,2,100|3,3,70|4,4,130|5,5,50</setting>
<setting name="ServiceTreeListSort">0,1</setting>
<setting name="SessionShadowHotkey">106,2</setting>
<setting name="ShowPluginLoadErrors">0</setting>
<setting name="ShowCommitInSummary">1</setting>
<setting name="ShowCpuBelow001">0</setting>
<setting name="ShowHexId">0</setting>
<setting name="StartHidden">1</setting>
<setting name="SysInfoWindowAlwaysOnTop">0</setting>
<setting name="SysInfoWindowOneGraphPerCpu">1</setting>
<setting name="SysInfoWindowPosition">81,133</setting>
<setting name="SysInfoWindowSection">Memory</setting>
<setting name="SysInfoWindowSize">@96|1285,605</setting>
<setting name="SysInfoWindowState">1</setting>
<setting name="ThinRows">0</setting>
<setting name="ThreadTreeListColumns">@96|0,0,50|1,1,45|2,2,80|3,3,180|4,4,80</setting>
<setting name="ThreadTreeListSort">1,2</setting>
<setting name="ThreadTreeListFlags">0</setting>
<setting name="ThreadStackTreeListColumns"></setting>
<setting name="ThreadStackWindowSize">@96|420,400</setting>
<setting name="TokenGroupsListViewColumns"></setting>
<setting name="TokenGroupsListViewStates"></setting>
<setting name="TokenGroupsListViewSort">1,2</setting>
<setting name="TokenSplitterEnable">0</setting>
<setting name="TokenSplitterPosition">150</setting>
<setting name="TokenPrivilegesListViewColumns"></setting>
<setting name="TreeListBorderEnable">0</setting>
<setting name="TreeListCustomColorsEnable">0</setting>
<setting name="TreeListCustomColorText">0</setting>
<setting name="TreeListCustomColorFocus">0</setting>
<setting name="TreeListCustomColorSelection">0</setting>
<setting name="TreeListCustomRowSize">0</setting>
<setting name="TreeListEnableHeaderTotals">1</setting>
<setting name="UpdateInterval">7d0</setting>
<setting name="WmiProviderEnableHiddenMenu">0</setting>
<setting name="WmiProviderTreeListColumns"></setting>
<setting name="WmiProviderTreeListSort">0,0</setting>
<setting name="WmiProviderTreeListFlags">0</setting>
<setting name="VdmHostListViewColumns"></setting>
<setting name="ColorNew">ff7f</setting>
<setting name="ColorRemoved">283cff</setting>
<setting name="UseColorOwnProcesses">1</setting>
<setting name="ColorOwnProcesses">aaffff</setting>
<setting name="UseColorSystemProcesses">1</setting>
<setting name="ColorSystemProcesses">ffccaa</setting>
<setting name="UseColorServiceProcesses">1</setting>
<setting name="ColorServiceProcesses">ffffcc</setting>
<setting name="UseColorBackgroundProcesses">0</setting>
<setting name="ColorBackgroundProcesses">bcbc78</setting>
<setting name="UseColorJobProcesses">0</setting>
<setting name="ColorJobProcesses">3f85cd</setting>
<setting name="UseColorWow64Processes">0</setting>
<setting name="ColorWow64Processes">8f8fbc</setting>
<setting name="UseColorDebuggedProcesses">1</setting>
<setting name="ColorDebuggedProcesses">ffbbcc</setting>
<setting name="UseColorElevatedProcesses">1</setting>
<setting name="ColorElevatedProcesses">aaff</setting>
<setting name="UseColorHandleFiltered">1</setting>
<setting name="ColorHandleFiltered">0</setting>
<setting name="UseColorImmersiveProcesses">1</setting>
<setting name="ColorImmersiveProcesses">cbc0ff</setting>
<setting name="UseColorPicoProcesses">1</setting>
<setting name="ColorPicoProcesses">ff8000</setting>
<setting name="UseColorSuspended">1</setting>
<setting name="ColorSuspended">777777</setting>
<setting name="UseColorDotNet">1</setting>
<setting name="ColorDotNet">ffde</setting>
<setting name="UseColorPacked">1</setting>
<setting name="ColorPacked">9314ff</setting>
<setting name="UseColorLowImageCoherency">1</setting>
<setting name="ColorLowImageCoherency">ff14b9</setting>
<setting name="UseColorPartiallySuspended">0</setting>
<setting name="ColorPartiallySuspended">c0c0c0</setting>
<setting name="UseColorGuiThreads">1</setting>
<setting name="ColorGuiThreads">77ffff</setting>
<setting name="UseColorRelocatedModules">1</setting>
<setting name="ColorRelocatedModules">80c0ff</setting>
<setting name="UseColorProtectedHandles">1</setting>
<setting name="ColorProtectedHandles">777777</setting>
<setting name="UseColorProtectedProcess">0</setting>
<setting name="ColorProtectedProcess">ff8080</setting>
<setting name="UseColorInheritHandles">1</setting>
<setting name="ColorInheritHandles">ffff77</setting>
<setting name="UseColorServiceDisabled">1</setting>
<setting name="ColorServiceDisabled">6d6d6d</setting>
<setting name="UseColorServiceStop">1</setting>
<setting name="ColorServiceStop">6d6d6d</setting>
<setting name="UseColorUnknown">1</setting>
<setting name="ColorUnknown">8080ff</setting>
<setting name="UseColorSystemThreadStack">0</setting>
<setting name="ColorSystemThreadStack">ffccaa</setting>
<setting name="UseColorUserThreadStack">0</setting>
<setting name="ColorUserThreadStack">aaffff</setting>
<setting name="UseColorInlineThreadStack">0</setting>
<setting name="ColorInlineThreadStack">ffde</setting>
<setting name="GraphShowText">1</setting>
<setting name="GraphColorMode">1</setting>
<setting name="ColorCpuKernel">ff00</setting>
<setting name="ColorCpuUser">ff</setting>
<setting name="ColorIoReadOther">ffff</setting>
<setting name="ColorIoWrite">ff0077</setting>
<setting name="ColorPrivate">77ff</setting>
<setting name="ColorPhysical">ff8000</setting>
<setting name="ColorPowerUsage">77ff77</setting>
<setting name="ColorTemperature">7777ff</setting>
<setting name="ColorFanRpm">ff7777</setting>
<setting name="ProcessHacker.DotNetTools.AsmTreeListColumns"></setting>
<setting name="ProcessHacker.DotNetTools.AsmTreeListFlags">0</setting>
<setting name="ProcessHacker.DotNetTools.AsmTreeListSort">0,0</setting>
<setting name="ProcessHacker.DotNetTools.DotNetCategoryIndex">5</setting>
<setting name="ProcessHacker.DotNetTools.DotNetListColumns"></setting>
<setting name="ProcessHacker.DotNetTools.DotNetListSort"></setting>
<setting name="ProcessHacker.DotNetTools.DotNetListGroupStates"></setting>
<setting name="ProcessHacker.ExtendedNotifications.LogFileName"></setting>
<setting name="ProcessHacker.ExtendedNotifications.ProcessList">\i*</setting>
<setting name="ProcessHacker.ExtendedNotifications.ServiceList">\i*</setting>
<setting name="ProcessHacker.ExtendedServices.EnableServicesMenu">1</setting>
<setting name="ProcessHacker.ExtendedTools.DiskTreeListColumns">@96|0,0,100|1,1,400|2,2,70|3,3,70|4,4,70|5,5,70|6,6,70</setting>
<setting name="ProcessHacker.ExtendedTools.DiskTreeListSort">4,2</setting>
<setting name="ProcessHacker.ExtendedTools.EnableGpuPerformanceCounters">0</setting>
<setting name="ProcessHacker.ExtendedTools.EnableEtwMonitor">1</setting>
<setting name="ProcessHacker.ExtendedTools.EnableGpuMonitor">1</setting>
<setting name="ProcessHacker.ExtendedTools.EnableFpsMonitor">0</setting>
<setting name="ProcessHacker.ExtendedTools.EnableSysInfoGraphs">1</setting>
<setting name="ProcessHacker.ExtendedTools.TracertWindowPosition">0,0</setting>
<setting name="ProcessHacker.ExtendedTools.TracertWindowSize">@96|350,270</setting>
<setting name="ProcessHacker.ExtendedTools.UnloadedListColumns"></setting>
<setting name="ProcessHacker.ExtendedTools.ModuleServiceWindowPosition">0,0</setting>
<setting name="ProcessHacker.ExtendedTools.ModuleServiceWindowSize">@96|850,490</setting>
<setting name="ProcessHacker.ExtendedTools.ModuleServiceListColumns"></setting>
<setting name="ProcessHacker.ExtendedTools.GpuNodesWindowPosition">0,0</setting>
<setting name="ProcessHacker.ExtendedTools.GpuNodesWindowSize">@96|850,490</setting>
<setting name="ProcessHacker.ExtendedTools.WsWatchWindowPosition">0,0</setting>
<setting name="ProcessHacker.ExtendedTools.WsWatchWindowSize">@96|325,266</setting>
<setting name="ProcessHacker.ExtendedTools.WsWatchListColumns"></setting>
<setting name="ProcessHacker.ExtendedTools.TrayIconGuids">{34fe6b85-a421-42da-9f72-b921f9ddbe9b}|{8edf6f6f-44af-40d3-b3c7-e88bd9ebdf43}|{d7fd1778-8c3f-40c1-9da0-18059e95bf47}|{76f764ee-ad19-402f-ac51-11347a07a347}|{3349031a-5dcb-48af-af96-3877c1d6febb}|{48afe585-88eb-4525-ad4a-06521c12af18}</setting>
<setting name="ProcessHacker.ExtendedTools.EnableFahrenheit">0</setting>
<setting name="ProcessHacker.ExtendedTools.FwTreeColumns">@96|0,0,140|1,1,70|2,2,40|3,3,240|4,4,180|5,5,220|6,6,50|7,7,70|8,8,220|9,9,50|10,10,70|11,11,60|12,12,60</setting>
<setting name="ProcessHacker.ExtendedTools.FwTreeSort">12,2</setting>
<setting name="ProcessHacker.ExtendedTools.FwIgnorePortScan">0</setting>
<setting name="ProcessHacker.ExtendedTools.ToolbarShowSystemInfoGraph">1</setting>
<setting name="ProcessHacker.HardwareDevices.EnableNDIS">1</setting>
<setting name="ProcessHacker.HardwareDevices.NetworkList">0,19985273102270464,{A8C09E34-2561-40BE-84D6-ECC6710F53C9}</setting>
<setting name="ProcessHacker.HardwareDevices.NetworkWindowPosition">0,0</setting>
<setting name="ProcessHacker.HardwareDevices.NetworkWindowSize">@96|309,265</setting>
<setting name="ProcessHacker.HardwareDevices.NetworkListColumns"></setting>
<setting name="ProcessHacker.HardwareDevices.NetworkListSort"></setting>
<setting name="ProcessHacker.HardwareDevices.DiskList">\??\SCSI#Disk&amp;Ven_NVMe&amp;Prod_Samsung_SSD_970#5&amp;25a1b12&amp;0&amp;000000#{53f56307-b6bf-11d0-94f2-00a0c91efb8b}</setting>
<setting name="ProcessHacker.HardwareDevices.DiskWindowPosition">100,100</setting>
<setting name="ProcessHacker.HardwareDevices.DiskWindowSize">@96|309,265</setting>
<setting name="ProcessHacker.HardwareDevices.DiskListColumns"></setting>
<setting name="ProcessHacker.HardwareDevices.SmartListColumns"></setting>
<setting name="ProcessHacker.HardwareDevices.RaplList">\??\ACPI#GenuineIntel_-_Intel64_Family_6_Model_142_-_Intel(R)_Core(TM)_i7-8565U_CPU_@_1.80GHz#_1#{45bd8344-7ed6-49cf-a440-c276c933b053}</setting>
<setting name="ProcessHacker.NetworkTools.AddressHistory"></setting>
<setting name="ProcessHacker.NetworkTools.PingWindowPosition">0,0</setting>
<setting name="ProcessHacker.NetworkTools.PingWindowSize">@96|420,250</setting>
<setting name="ProcessHacker.NetworkTools.PingMinScaling">1f4</setting>
<setting name="ProcessHacker.NetworkTools.PingTimeout">3e8</setting>
<setting name="ProcessHacker.NetworkTools.PingSize">20</setting>
<setting name="ProcessHacker.NetworkTools.TracertWindowPosition">0,0</setting>
<setting name="ProcessHacker.NetworkTools.TracertWindowSize">@96|850,490</setting>
<setting name="ProcessHacker.NetworkTools.TracertTreeColumns"></setting>
<setting name="ProcessHacker.NetworkTools.TracertTreeSort">0,1</setting>
<setting name="ProcessHacker.NetworkTools.TracertMaxHops">30</setting>
<setting name="ProcessHacker.NetworkTools.WhoisWindowPosition">0,0</setting>
<setting name="ProcessHacker.NetworkTools.WhoisWindowSize">@96|600,365</setting>
<setting name="ProcessHacker.NetworkTools.GeoDbPath">%APPDATA%\Process Hacker\GeoLite2-Country.mmdb</setting>
<setting name="ProcessHacker.NetworkTools.EnableExtendedTcpStats">0</setting>
<setting name="ProcessHacker.OnlineChecks.EnableVirusTotalScanning">1</setting>
<setting name="ProcessHacker.OnlineChecks.VirusTotalHighlightDetection">0</setting>
<setting name="ProcessHacker.OnlineChecks.VirusTotalDefautAction">0</setting>
<setting name="ProcessHacker.ToolStatus.Config">81f</setting>
<setting name="ProcessHacker.ToolStatus.ToolbarDisplayStyle">1</setting>
<setting name="ProcessHacker.ToolStatus.SearchBoxDisplayMode">0</setting>
<setting name="ProcessHacker.ToolStatus.TaskbarDisplayStyle">0</setting>
<setting name="ProcessHacker.ToolStatus.ToolbarShowSystemInfoGraph">1</setting>
<setting name="ProcessHacker.ToolStatus.RebarConfig"></setting>
<setting name="ProcessHacker.ToolStatus.ToolbarButtonConfig"></setting>
<setting name="ProcessHacker.ToolStatus.StatusbarConfig"></setting>
<setting name="ProcessHacker.ToolStatus.ToolbarGraphConfig"></setting>
<setting name="ProcessHacker.UpdateChecker.PromptStart">0</setting>
<setting name="ProcessHacker.UpdateChecker.LastUpdateCheckTime">132312630644276677</setting>
<setting name="ProcessHacker.UpdateChecker.ChangelogWindowPosition">465,244</setting>
<setting name="ProcessHacker.UpdateChecker.ChangelogWindowSize">@96|480,325</setting>
<setting name="ProcessHacker.UpdateChecker.ChangelogListColumns"></setting>
<setting name="ProcessHacker.UpdateChecker.ChangelogListSort"></setting>
<setting name="ProcessHacker.UpdateChecker.UpdateMode">0</setting>
<setting name="ProcessHacker.UpdateChecker.UpdateAvailable">0</setting>
<setting name="ProcessHacker.UpdateChecker.UpdateData"></setting>
<setting name="ProcessHacker.UserNotes.DatabasePath">%APPDATA%\Process Hacker\usernotesdb.xml</setting>
<setting name="ProcessHacker.UserNotes.ColorCustomList"></setting>
<setting name="ProcessHacker.WindowExplorer.ShowDesktopWindows">0</setting>
<setting name="ProcessHacker.WindowExplorer.WindowTreeListColumns"></setting>
<setting name="ProcessHacker.WindowExplorer.WindowsWindowPosition">0,0</setting>
<setting name="ProcessHacker.WindowExplorer.WindowsWindowSize">@96|690,540</setting>
<setting name="ProcessHacker.WindowExplorer.WindowsPropertyColumns"></setting>
<setting name="ProcessHacker.WindowExplorer.WindowsPropertyPosition">0,0</setting>
<setting name="ProcessHacker.WindowExplorer.WindowsPropertySize">@96|690,540</setting>
<setting name="ProcessHacker.WindowExplorer.WindowsPropListColumns"></setting>
<setting name="ProcessHacker.WindowExplorer.WindowsPropStorageColumns"></setting>
<setting name="ProcessHacker.WindowExplorer.EnableAlternateEnumWindow">0</setting>
<setting name="ProcessHacker.WindowExplorer.EnableWindowIcons">0</setting>
<setting name="ProcessHacker.WindowExplorer.EnableWindowPreview">0</setting>
<setting name="PluginManagerWindowPosition">0,0</setting>
<setting name="PluginManagerWindowSize">@96|900,590</setting>
<setting name="PluginsDirectory">plugins</setting>
<setting name="WmiProviderListViewColumns"></setting>
<setting name="ProcessHacker.ExtendedNotifications.EnableGrowl">0</setting>
<setting name="ProcessHacker.ExtendedTools.EnableDiskExt">1</setting>
<setting name="ProcessHacker.ExtendedTools.GpuNodeBitmap">01000000</setting>
<setting name="ProcessHacker.ExtendedTools.GpuLastNodeCount">0</setting>
<setting name="ProcessHacker.ToolStatus.ToolbarTheme">0</setting>
<setting name="ProcessHacker.ExtendedTools.EnableD3DKMT">1</setting>
<setting name="CollapseServicesOnStart">0</setting>
</settings>
